<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
		type="text/css">
	<script src="https://unpkg.com/vue@3.2.33/dist/vue.global.js"></script>
	<link rel="stylesheet" href="styles.css">
	<title>Калькулятор гулянок и прочих массовых затей</title>
</head>

<body>
	<main id="app">
		<section class="">
			<p><span class="btn cyan" @click="addNewPerosn()" class="hover">Добавить участника</b></p>
			<table>
				<thead>
					<tr>
						<th>№</th>
						<th>Имя участника</th>
						<th v-for="p in data.products">{{p.name}}</th>
						<th>Итого</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="person, personKey in data.persons">
						<td>{{personKey + 1}}</td>
						<td>
							<input type="text" v-model="person.name" placeholder="Имя участника">
							<span class="delete" title="удалить" @click="deletePerson(personKey)">&#10006;</span>
						</td>
						<td v-for="product, productKey in data.products" @click="toggleUse(personKey, productKey)">
							<span class="calc-item-pay">
								{{personCalcValues(personKey, productKey)}}
							</span>
						</td>
						<td>{{personPay(personKey)}}</td>
					</tr>
				</tbody>
			</table>

			<p><span class="btn cyan" @click="addNewProduct()" class="hover">Добавить продукцию</b></p>
			<table>
				<thead>
					<tr>
						<th>№</th>
						<th>Название</th>
						<th>Кол-во</th>
						<th>Цена</th>
						<th>ед.изм.</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="product, k in data.products">
						<td>{{k + 1}}</td>
						<td>
							<input type="text" v-model="product.name" placeholder="Название">
							<span class="delete" title="удалить" @click="deleteProduct(k)">&#10006;</span>
						</td>
						<td><input type="number" v-model="product.count" placeholder="Кол-во" min="0"></td>
						<td><input type="number" v-model="product.price" placeholder="Цена" min="0"></td>
						<td><input type="text" v-model="product.units" placeholder="ед.изм."></td>
					</tr>
				</tbody>
			</table>
		</section>
	</main>
	<footer></footer>
	<script src="prod.js"></script>
</body>

</html>